!*/
!*.c
!*.cc
!*.cxx
!*.h
!*.phpt
!*.php
!*.sh
!*.yml
!config.w32
!config.m4
tests/*.diff
tests/*.exp
tests/*.out
tests/*.php
tests/*.log
tests/*.sh
config.h
ltmain.sh
run-tests.php
.deps
.libs/
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache/
build/
cld.la
cld.lo
config.guess
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
install-sh
libtool
missing
mkinstalldirs
modules/
tmp-php.ini
vendor/
vendor/
